= form_for @unidad, :url => 'agregarCarrera', class: 'form' do |f|
  .form-group
    = text_field_tag :carreras, nil, class: 'form-control'
  = submit_tag nil, :class => 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), |
    unidades_path, :class => 'btn btn-default'                   |